[Unit]
Description=A script run at the first boot after the installation of BlueOS.

[Service]
ExecStart=/usr/bin/blue

[Install]
WantedBy=multi-user.target 
